<!DOCTYPE html>
<html>
<head>
	<title>Test Login</title>
</head>
<body>


HELLO THIS IS LOGIN PAGE.

<fb:login-button 
  scope="public_profile,email"
  onlogin="checkLoginState();">
</fb:login-button>

<a href="#" 
   id="auth-logoutlink"
   style="float:left;font-size: small;"
   onclick="FB.logout(function() { document.location.reload(); });">
   [logout]
</a>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '224029792004094',
      cookie     : true,
      xfbml      : true,
      version    : 'v6.0'
    });
      
    FB.AppEvents.logPageView();   
    
  };


function checkLoginState() {
  // FB.getLoginStatus(function(response) {
  //   // statusChangeCallback(response);
  // 		console.log(response);
  //       // var response = JSON.parse(response);
  //        if(response["status"] == "connected"){
  //        	console.log("connected");
  //         	FB.api(
		// 	    '/me',
		// 	    function (result) {
		// 	      if (result && !result.error) {
		// 	        /* handle the result */
		// 	        console.log(result)
		// 	      }
		// 	    }
		// 	);

  //         }
  //        else
  //        {
  //        	console.log("Not connected");
  //        }

  // });
	  FB.login(function(response) {
	    if (response.authResponse) {
	     console.log('Welcome!  Fetching your information.... ');
	     console.log(response)
	     FB.api('/me','GET',  {"fields":"location,picture,link,name,birthday,email,hometown,gender"}, function(response) {
	     	console.log(response)
	       console.log('Good to see you, ' + response.name + response.email + response.gender + response.birthday+ '.');
	     });
	    } else {
	     console.log('User cancelled login or did not fully authorize.');
	    }
	},{scope: 'email,user_birthday,user_gender,user_location,user_link',return_scopes: true});

	 //  FB.logout(function(response) {
  // 		// user is now logged out
		// });

		// onclick="javascript:FB.logout(function() { window.location.reload() }); return false;"


}

 (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));


</script>

<script>
  var GoogleAuth;
  // var SCOPE = 'https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email';
  var SCOPE = "https://www.googleapis.com/auth/userinfo.profile";
  function handleClientLoad() {
    // Load the API's client and auth2 modules.
    // Call the initClient function after the modules load.
    gapi.load('client:auth2', initClient);
  }

  function initClient() {
    // Retrieve the discovery document for version 3 of Google Drive API.
    // In practice, your app can retrieve one or more discovery documents.
    var discoveryUrl = 'https://www.googleapis.com/discovery/v1/apis/drive/v3/rest';

    // Initialize the gapi.client object, which app uses to make API requests.
    // Get API key and client ID from API Console.
    // 'scope' field specifies space-delimited list of access scopes.
    gapi.client.init({
        'apiKey': 'AIzaSyCHGhMCa6zPgqfYMY0BMvfVW1ld5wkBnN8',
      	'clientId': '231052077169-fr1vuf8j3qnqldsjffljav5rbqaacgkf.apps.googleusercontent.com',
      	'discoveryDocs': [discoveryUrl],
        'scope': SCOPE
    }).then(function () {
      GoogleAuth = gapi.auth2.getAuthInstance();

      // Listen for sign-in state changes.
      GoogleAuth.isSignedIn.listen(updateSigninStatus);

      // Handle initial sign-in state. (Determine if user is already signed in.)
      var user = GoogleAuth.currentUser.get();
      setSigninStatus();

      // Call handleAuthClick function when user clicks on
      //      "Sign In/Authorize" button.
      $('#sign-in-or-out-button').click(function() {
        handleAuthClick();
      });
      $('#revoke-access-button').click(function() {
        revokeAccess();
      });
    });
  }

  function handleAuthClick() {
    if (GoogleAuth.isSignedIn.get()) {
      // User is authorized and has clicked "Sign out" button.
      GoogleAuth.signOut();
    } else {
      // User is not signed in. Start Google auth flow.
      GoogleAuth.signIn();

      // Example 2: Use gapi.client.request(args) function
		if (GoogleAuth.isSignedIn.get()) {
		  var profile = GoogleAuth.currentUser.get().getBasicProfile();
		  console.log('ID: ' + profile.getId());
		  console.log('Full Name: ' + profile.getName());
		  console.log('Given Name: ' + profile.getGivenName());
		  console.log('Family Name: ' + profile.getFamilyName());
		  console.log('Image URL: ' + profile.getImageUrl());
		  console.log('Email: ' + profile.getEmail());
		}

    }
  }

  function revokeAccess() {
    GoogleAuth.disconnect();
  }

  function setSigninStatus(isSignedIn) {
    var user = GoogleAuth.currentUser.get();
    var isAuthorized = user.hasGrantedScopes(SCOPE);
    if (isAuthorized) {

    	if (GoogleAuth.isSignedIn.get()) {
		  var user2 = GoogleAuth.currentUser.get()
		  var profile = user2.getBasicProfile();
		  console.log('ID: ' + profile.getId());
		  console.log('Full Name: ' + profile.getName());
		  console.log('Given Name: ' + profile.getGivenName());
		  console.log('Family Name: ' + profile.getFamilyName());
		  console.log('Image URL: ' + profile.getImageUrl());
		  console.log('Email: ' + profile.getEmail());
		}

		// var options = new gapi.auth2.SigninOptionsBuilder(
		//         {'scope': 'email https://www.googleapis.com/auth/user.birthday.read'});


		// user2.grant(options).then(
		//     function(success){
		//       console.log(JSON.stringify({message: "success", value: success}));
		//     },
		//     function(fail){
		//       alert(JSON.stringify({message: "fail", value: fail}));
		//     });

		 

      $('#sign-in-or-out-button').html('Sign out');
      $('#revoke-access-button').css('display', 'inline-block');
      $('#auth-status').html('You are currently signed in and have granted ' +
          'access to this app.');
    } else {
      $('#sign-in-or-out-button').html('Sign In/Authorize');
      $('#revoke-access-button').css('display', 'none');
      $('#auth-status').html('You have not authorized this app or you are ' +
          'signed out.');
    }
  }

  function updateSigninStatus(isSignedIn) {
    setSigninStatus();
  }
</script>

<button id="sign-in-or-out-button"
        style="margin-left: 25px">Sign In/Authorize</button>
<button id="revoke-access-button"
        style="display: none; margin-left: 25px">Revoke access</button>

<div id="auth-status" style="display: inline; padding-left: 25px"></div><hr>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script async defer src="https://apis.google.com/js/api.js"
        onload="this.onload=function(){};handleClientLoad()"
        onreadystatechange="if (this.readyState === 'complete') this.onload()">
</script>

</body>
</html>