<!DOCTYPE html>
<html>
<head>
	<title>PROFILE</title>
</head>
<body>
<h2>This is Profile page</h2>
<button id="signoutBtn"> Logout </button>

    <div id="map" style="height: 100%;"></div>

<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/sweetalert/sweetalert.js"></script>

<!-- Map API -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfV46cgtkauHCkm_Jgqs8kgWeus82ObMo"></script>

<script src="../assets/js/ajax/user_profile_read.js"></script>
<!-- <script src="../assets/js/ajax/map/google_map.js"></script> -->

</body>
</html>