<!DOCTYPE html>
<html>
<head>
	<title>PROFILE</title>
</head>
<style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
</style>

<body>
<h2>This is Profile page</h2>
<button id="signoutBtn"> Logout </button>

 <div id="map"></div>

<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/sweetalert/sweetalert.js"></script>

<!-- Map API -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfV46cgtkauHCkm_Jgqs8kgWeus82ObMo"></script>

<script src="../assets/js/ajax/user_profile_read.js"></script>
<!-- <script src="../assets/js/ajax/map/google_map.js"></script> -->

</body>
</html>