<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="../assets/plugins/bootstrap/dist/css/bootstrap.min.css">
	
	<link rel="stylesheet" href="../assets/css/style.css">
	<link rel="stylesheet" href="../assets/css/register.css">
	<title>LOGIN || REGISTER </title>
</head>
<body>
	<div class="containerF" id="containerF">
		<div class="btn-box">
			<div id="btn-color"></div>
			<button id="btn-box-btn"class="btns" onclick="login()">login</button>
			<button id="btn-box-btn"class="btns" onclick="register()">register</button>
		</div>
		
		<div id="register"class="form-container sign-up-container">
			<form action="#">
				<h1>Create Account</h1>

                <!-- <div id="success_fail_info"></div> -->
				<div id="error" style="color: red;"></div>
                <div id="good" style="color: #29fd0f;"></div>

				<input type="text" id="name" placeholder="Name" />
				<input type="number" id="no_cycles" placeholder="Number of cycles owned" />
				<div class="row">
					<div class="col-md-6">
						<input type="number" id="phone" placeholder="Contact Number" />
					</div>
					<!-- <div><input type="text" placeholder="Gender" /></div> -->
					<div class="col-md-6">
					<select name="Gender" id="gender">
					    <option value="male">Male</option>
					    <option value="female">Female</option>
					    <option value="others">Others</option>
					 </select>
					</div>
					
				</div>
				<input type="text" id="address" placeholder="Address" />
				
				<input type="email" id="email" placeholder="Email" />
				<input type="password" id="password" placeholder="Password" />
	
				<input type="password" id="cpassword" placeholder="Confirm Password" />
				<input type="text" id="referal_no" placeholder="Refferal Code (if any)" />
				<button id="signup">Sign Up</button>
			</form>
		</div>
		<div id="login" class="form-container sign-in-container">
			<form action="#">
				<h1>Sign in</h1>
				<!-- <div class="social-container">
					<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
					<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
					<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
				</div> -->
				<!-- <span>or use your account</span> -->
				<input type="email" id="login_email" placeholder="Email" />
				<input type="password" id="login_password" placeholder="Password" />
				<a class="btnR" href="#">Forgot your password?</a>
				<button id="signin">Sign In</button>
			</form>
		</div>
		<div class="overlay-container">
			<div class="overlayR">
				<div class="overlay-panel overlay-left">
					<h1>Welcome Back!</h1>
					<p>To keep connected with us please login with your personal info</p>
					<button class="ghost" id="signIn">Sign In</button>
				</div>
				<div class="overlay-panel overlay-right">
					<h1>Hello, Welcome!</h1>
					<p>Enter your personal details and start journey with us</p>
					<button class="ghost" id="signUp">Sign Up</button>
				</div>
			</div>
		</div>
	</div>

	<script src="../assets/js/register.js"></script>
	<script src="../assets/js/jquery.min.js"></script>
	<script src="../assets/js/sweetalert/sweetalert.js"></script>

    <script src="../assets/js/ajax/login_registration.js"></script>
	
</body>
</html>
